<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <bean id="userService" class="org.itstack.demo.UserService" scope="singleton"/>

    <!--<bean id="userDao1" class="org.itstack.demo.bean.ProxyBeanFactory"/>-->

    <bean id="userDao2" class="org.itstack.demo.bean.RegisterBeanFactory"/>

</beans>